<div class="container bg-primary text-white">
    
<h1>Dnr data</h1>

<a href="/favorites">
        <button class="searchBtn btn-success my-2" id="favbtn" value="{{sna_id}}" >Set {{sna_name}} as favorite</button><br>
</a>

<div>

<p1>SNA name:  {{sna_name}}</p1>

<p1>SNA tags: {{sna_tags}}</p1>
{{!-- <div > --}}
<p1 id="ptags">  {{sna_description}}</p1>
{{!-- </div> --}}

<p1 id="notetags">  {{sna_notes}}</p1>


<p1>SNA id:  {{sna_id}}</p1>

</div>
</div>
<script src="/content.js" defer></script>